@mixin bg($name, $color) {
  $bgname: "bg-" + $name;
  .#{ $bgname } {
    background-color: $color
  }
}

@mixin btn($name, $color) {
  $btnname: "btn-" + $name;
  $btnolname: "btn-outline-" + $name;
  $cbtnname: "carouselBtn-" + $name;

  .#{ $btnname } {
    color: lighten( $color, 64% );
    background: linear-gradient(90deg, lighten( $color, 4% ), darken( $color, 8% ) 84%, darken( $color, 16% ) 92%);
    border-color: darken( $color, 16% );
  }
  .#{ $btnname }:hover {
    color: lighten( $color, 32% );
    background-color: darken( $color, 4% );
    border-color: darken( $color, 8% );
  }

  .#{ $btnolname } {
    color: darken( $color, 8% );
    background-color: #ffffff66;
    border-color: darken( $color, 4% );
  }
  .#{ $btnolname }:hover {
    color: darken( $color, 4% );
    background-color: #ffffff11;
    border-color: darken( $color, 2% );
  } 

  .#{ $cbtnname } {
    background: linear-gradient(150deg, darken( $color, 16% ) 8%, darken( $color, 8% ) 16%, $color 20%,  lighten( $color, 8% ) 36%, darken( $color, 8% ) 64%, $color 84%, darken( $color, 16% ) 92%);
    border-color: darken( $color, 8% );
  }
}

@mixin border($name, $color) {
  $brdrname: "border-" + $name;
  .#{ $brdrname } {
    border-color: darken( $color, 4% );
  }
}

@mixin nav($name, $color) {
  $navname: "nav-" + $name;
  .#{ $navname } {
    background-image: linear-gradient(180deg, darken( $color, 8% ) 0%, lighten( $color, 8% ) 32%, darken( $color, 4% ) 68%, $color 92%, darken( $color, 8% ) 94%, darken( $color, 16% ) 96%);
  }
}

@mixin navbar($name, $color) {
  $navname: "navbar-" + $name;
  .#{ $navname } {
    background-image: linear-gradient(180deg, darken( $color, 8% ) 0%, darken( $color, 4% ) 32%, $color 88%, darken( $color, 4% ) 96% );
  }
}

@mixin text($name, $color) {
  $txtname: "text-" + $name;
  .#{ $txtname } {
    text-decoration: none;
    color: darken( $color, 8% );
  }
  a .#{ $txtname } {
    text-decoration: none; 
    color: $color;
  }
  a:hover .#{ $txtname } {
    text-decoration: none;
    color: darken( $color, 4% );
  }
}

@each $name, $color in $theme-colors {
  @include bg($name, $color);
  @include border($name, $color);
  @include btn($name, $color);
  @include nav($name, $color);
  @include navbar($name, $color);
  @include text($name, $color);
}


@each $name, $color in $grayscale {
  @include bg($name, $color);
  @include border($name, $color);
  @include btn($name, $color);
  @include nav($name, $color);
  @include navbar($name, $color);
  @include text($name, $color);
}
