@mixin bg($name, $color) {
  $bgname: "bg-" + $name;
  .#{ $bgname } {
    background-color: darken( $color, 8% )
  }
}

@mixin btn($name, $color) {
  $btnname: "btn-" + $name;
  $btnolname: "btn-outline-" + $name;

  .#{ $btnname } {
    color: lighten( $color, 64% );
    background: linear-gradient(90deg, lighten( $color, 4% ), darken( $color, 8% ) 84%, darken( $color, 16% ) 92%);
    border-color: darken( $color, 16% );
  }
  .#{ $btnname }:hover {
    color: lighten( $color, 32% );
    background-color: darken( $color, 4% );
    border-color: darken( $color, 8% );
  }

  .#{ $btnolname } {
    color: darken( $color, 8% );
    background-color: #ffffff66;
    border-color: darken( $color, 4% );
  }
  .#{ $btnolname }:hover {
    color: darken( $color, 4% );
    background-color: #ffffff11;
    border-color: darken( $color, 2% );
  } 
}

@mixin border($name, $color) {
  $brdrname: "border-" + $name;
  .#{ $brdrname } {
    border-color: darken( $color, 4% );
  }
}

@mixin nav($name, $color) {
  $navname: "nav-" + $name;
  .#{ $navname } {
    background-image: linear-gradient(180deg, darken( $color, 8% ) 0%, lighten( $color, 8% ) 32%, darken( $color, 4% ) 64%, $color 76%, lighten( $color, 16% ) 90%, darken( $color, 8% ) 94%, darken( $color, 16% ) 100%);
  }
}

@mixin navbar($name, $color) {
  $navname: "navbar-" + $name;
  .#{ $navname } {
    background-image: linear-gradient(180deg, darken( $color, 8% ) 0%, darken( $color, 4% ) 32%, $color 88%, darken( $color, 4% ) 96% );
  }
}

@mixin text($name, $color) {
  $txtname: "text-" + $name;
  .#{ $txtname } {
    color: darken( $color, 4% );
  }
  a:hover .#{ $txtname } {
    color: darken( $color, 16% );
    text-decoration: none;
  }
  a:visited .#{ $txtname } {
    color: darke( $color, 24% );
  }
}

@each $name, $color in $theme-colors {
  @include bg($name, $color);
  @include border($name, $color);
  @include btn($name, $color);
  @include nav($name, $color);
  @include navbar($name, $color);
  @include text($name, $color);
}
