.btn {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border-width: 2px;
  font-weight: bold;
}

.card {
  border-width: 4px;
  border-style: ridge;
  border-radius: 4px;  
  margin: 4vh 2vw 0 2vw;
}

.cardBody {
  margin: 1vh 2vw 1vh 2vw;
}

.cardHeader {  
  font-size: 24px;
  padding: 12px;
  border-bottom: inherit;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.code {
  display: block;
  width: 84%;
  margin: 4vh auto 4vh auto;
}

.content {
  width: 65vw;
  margin: 8vh auto auto auto;
}

.header {
  font-size: 32px;
  position: static;
}

.headerDate {
  display: inline-block;
  position: relative;
  right: 0;
  bottom: -48px;
  width: 30%;
}

.heading {
  display: inline-block;
  position: relative;
  left: -4vw;
  bottom: -32px;
  width: 70%;
  
}

.main {
  border-right-width: 2px;
  border-right-style: inset;
  min-height: 32vh;
  padding: 2%;
}

.nav {
  width: 100%;
  height: 130px;
  border-width: 0 0 32px 0;
  border-style: $navEdge;
  border-radius: 6px;
  position: relative;
}

.navBrand {
  font-size: 48px;
  font-weight: bolder;  
  display: inline-block;
  position: absolute;
  left: 52px;
  bottom: -16px;
  font-family: 'Inconsolatia', monospace;
}

.navBtn {
  @extend .btn;
  border-radius: 0 0 5px 5px;
  margin-left: 8px;
  width: 12vw;
}

.navigation {
  position: absolute;
  right: 13px;
  bottom: -35px;
}

.navLink {
  text-decoration: none;
  margin: 10px;
}

.preview {
  width: 45vw;
}
